<header>
    <h1>TestTube</h1>
    {{!-- <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/postvideo">Post video</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/viewpost">View post</a></li>
        </ul>
    </nav> --}}

    {{log this}}

    <nav data-bs-theme="dark" class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    {{#if isLoggedIn}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/postvideo">Post video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/registration">Sign up</a>
                    </li>
                    {{/if}}
                </ul>

                <form class="d-flex" action="/posts/search" method="GET" enctype="application/x-www-form-urlencoded"
                    role="search">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search TestTube"
                            aria-describedby="search-button">
                        <button class="btn btn-outline-light" type="submit" id="search-button">🔍</button>
                    </div>
                </form>

            </div>
        </div>
    </nav>

    {{>toast this}}

</header>
