<header>
    <h1>TestTube</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/postvideo">Post video</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/registration">Registration</a></li>
            <li><a href="/viewpost">View post</a></li>
        </ul>
    </nav>

</header>
