<div class="card mb-3 gx-0">
    <div class="row justify-content-start">
        <div class="col">
            <div class="ratio ratio-16x9">
                <img src="{{thumbnail}}" class="object-fit-fill rounded-start" alt="{{title}}">
            </div>
        </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
