<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main id="content-area" class="container-sm p-4">
        {{#if (nonEmpty posts)}}
        <div class="container-fluid" id="video-grid">
            <div class="row row-cols-1 row-cols-md-auto g-4">
                {{#each posts}}
                {{>videocard this}}
                {{/each}}
            </div>
        </div>
        {{else}}
        <h2>It's lonely here...</h2>
        <h3>Get started by <a href="registration">creating an account</a> and <a href="postvideo">upload a video</a>!</h3>
        {{/if}}
    </main>

</body>

</html>
