<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main id="content-area">
        <h1>Video gallery</h1>
        <h2 id="video-count"></h2>
        <p>Click one to enter a time sink!</p>
        <div id="video-gallery" class="video-gallery"></div>
    </main>

</body>

</html>
