<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main>
        <h2>Login</h2>
        <p>Don't have an account with us yet? <a href="registration.html">Sign up</a>.</p>
        <form action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
            <!-- <label for="username">Username</label> -->
            <input type="text" class="input-text" name="username" id="username" placeholder="Username" required="true">
            <br>
            <!-- <label for="password">Password</label> -->
            <input type="password" class="input-text" name="password" id="password" placeholder="Password"
                required="true">
            <br>
            <input type="submit" class="action-button" value="Log in" onsubmit="">
        </form>
    </main>
</body>


</html>
