<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main class="container-sm p-4">
        <h2>Upload</h2>

        <form class="row g-3" action="/posts/create" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="video-title" class="form-label">Title</label>
                <input type="text" class="form-control" name="videoTitle" id="video-title" placeholder="Video title"
                    required="true">
            </div>
            <div class="mb-3">
                <label class="form-label" for="video-description">Description</label>
                <textarea class="form-control" name="videoDescription" id="video-description"
                    placeholder="Describe your video" required="true"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="video-file">Upload your file</label>
                <input class="form-control" type="file" id="video-file" name="videoFile" accept="video/mp4"
                    required="true">
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="confirmAup" id="confirm-aup" required="true">
                    <label class="form-check-label" for="confirm-aup">By uploading this video, I agree to the <a
                            href="">AUP</a>.</label>
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" onsubmit="">Upload</button>
            </div>

        </form>
    </main>
</body>

</html>
