<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main>
        <div class="user-displayname">
            <h2>{{user.username}}</h2>
        </div>
        <div class="user-email">
            <p>{{user.email}}</p>
        </div>
        <div class="user-posts">
            <h2>Posts</h2>
            <ul>
                <li><a href="viewpost.html">A test video</a></li>
            </ul>
        </div>
    </main>
</body>

</html>
