<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <h1>Profile</h1>
    <main class="container-sm p-4">
        <div class="user-displayname">
            <h2>{{user.username}}</h2>
        </div>
        <div class="user-email">
            <p>{{user.email}}</p>
        </div>

        <h2>Posts</h2>
        <div id="users-post" class="container-fluid" id="video-grid">
            <div class="row row-cols-1 g-4">
                {{#each posts}}
                {{>videocard-form this}}
                {{/each}}
            </div>
        </div>

    </main>
</body>

</html>
