<!DOCTYPE html>
<html lang="en">

<body>
    {{>header}}

    <main>
        <h2>Create an account</h2>
        <form id="registration-form" action="/users/register" method="POST" enctype="application/x-www-form-urlencoded">
            <label for="username">Username</label>
            <input type="text" class="input-text" name="username" id="username" placeholder="Username" required="true">
            <br>
            <label for="email">Email</label>
            <input type="email" class="input-text" name="email" id="email" placeholder="Email" required="true">
            <br>
            <label for="password">Password</label>
            <input type="password" class="input-text" name="password" id="password" placeholder="Password"
                required="true"><br>
            <label for="confirm-password">Confirm password</label>
            <input type="password" class="input-text" name="confirmPassword" id="confirm-password"
                placeholder="Password" required="true">
            <br>
            <input type="checkbox" name="confirmAge" id="confirm-age" required="true">
            <label for="confirm-age">I am at least 13 years of age.</label>
            <br>
            <input type="checkbox" name="confirmTos" id="confirm-tos" required="true">
            <label for="confirm-tos">I agree to the <a href="">TOS</a> and <a href="">Privacy Policy</a>.</label>
            <br><br>
            <input type="submit" class="action-button" value="Sign up" onsubmit="">
        </form>
    </main>
</body>

</html>
